USE [ORARI_DEMO]
GO
/****** Object:  Table [dbo].[Deget]    Script Date: 11/25/2018 11:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deget](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dega] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disponibel]    Script Date: 11/25/2018 11:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disponibel](
	[DitaId] [int] NOT NULL,
	[OraId] [int] NOT NULL,
	[KlasaId] [int] NOT NULL,
	[Perdorur] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ditet]    Script Date: 11/25/2018 11:23:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ditet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dita] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportLendet]    Script Date: 11/25/2018 11:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportLendet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dega] [nvarchar](250) NOT NULL,
	[Viti] [int] NOT NULL,
	[Lenda] [nvarchar](250) NOT NULL,
	[Paraleli] [nvarchar](250) NOT NULL,
	[Tipi] [nvarchar](250) NOT NULL,
	[Pedagog] [nvarchar](250) NOT NULL,
	[Kapur] [int] NOT NULL,
	[IdTipi] [int] NOT NULL,
	[Zgjedhje] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klasat]    Script Date: 11/25/2018 11:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klasat](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Klasa] [varchar](50) NOT NULL,
	[Kapaciteti] [int] NULL,
	[Tipi] [int] NULL,
	[Godina] [varchar](50) NULL,
	[Kati] [int] NULL,
	[Perdoret] [bit] NOT NULL,
	[KlasaNew] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lendet]    Script Date: 11/25/2018 11:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lendet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Lenda] [nvarchar](250) NULL,
	[DEGA] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orari]    Script Date: 11/25/2018 11:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dega] [nvarchar](250) NOT NULL,
	[Viti] [int] NOT NULL,
	[Paraleli] [nvarchar](250) NOT NULL,
	[Lenda] [nvarchar](250) NOT NULL,
	[Tipi] [nvarchar](250) NOT NULL,
	[Pedagog] [nvarchar](250) NOT NULL,
	[Dita] [int] NOT NULL,
	[Klasa] [int] NOT NULL,
	[Ora] [int] NOT NULL,
	[Zgjedhje] [int] NULL,
	[Final] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oret]    Script Date: 11/25/2018 11:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oret](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ora] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipet]    Script Date: 11/25/2018 11:23:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipet](
	[Id] [int] NOT NULL,
	[Tipi] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Deget] ON 

INSERT [dbo].[Deget] ([Id], [Dega]) VALUES (93, N'Master Profesional në "Bioteknologji Mjedisore"')
INSERT [dbo].[Deget] ([Id], [Dega]) VALUES (94, N'Master i Shkencave në "Informatikë", me profil "Mësues Informatike për arsimin e mesëm dhe të lartë"')
INSERT [dbo].[Deget] ([Id], [Dega]) VALUES (63, N'Bachelor në "Kimi dhe Teknologji Ushqimore"')
SET IDENTITY_INSERT [dbo].[Deget] OFF
INSERT [dbo].[Disponibel] ([DitaId], [OraId], [KlasaId], [Perdorur]) VALUES (1, 1, 128, 0)
INSERT [dbo].[Disponibel] ([DitaId], [OraId], [KlasaId], [Perdorur]) VALUES (1, 2, 128, 0)
INSERT [dbo].[Disponibel] ([DitaId], [OraId], [KlasaId], [Perdorur]) VALUES (1, 3, 128, 0)
GO
SET IDENTITY_INSERT [dbo].[Ditet] ON 

INSERT [dbo].[Ditet] ([Id], [Dita]) VALUES (1, N'E Hënë')
INSERT [dbo].[Ditet] ([Id], [Dita]) VALUES (2, N'E Martë')
INSERT [dbo].[Ditet] ([Id], [Dita]) VALUES (3, N'E Mërkurë')
SET IDENTITY_INSERT [dbo].[Ditet] OFF
SET IDENTITY_INSERT [dbo].[ImportLendet] ON 

INSERT [dbo].[ImportLendet] ([Id], [Dega], [Viti], [Lenda], [Paraleli], [Tipi], [Pedagog], [Kapur], [IdTipi], [Zgjedhje]) VALUES (36450, N'Bachelor në "Informatikë"', 3, N'Inxhinieri softi dhe Programim ne web', N'A', N'leksion', N'x4.x4@fshn.edu.al', 1, 1, 0)
INSERT [dbo].[ImportLendet] ([Id], [Dega], [Viti], [Lenda], [Paraleli], [Tipi], [Pedagog], [Kapur], [IdTipi], [Zgjedhje]) VALUES (36451, N'Bachelor në "Informatikë"', 3, N'Inxhinieri softi dhe Programim ne web', N'A', N'leksion', N'x4.x4@fshn.edu.al', 1, 1, 0)
INSERT [dbo].[ImportLendet] ([Id], [Dega], [Viti], [Lenda], [Paraleli], [Tipi], [Pedagog], [Kapur], [IdTipi], [Zgjedhje]) VALUES (36452, N'Bachelor në "Informatikë"', 3, N'Inxhinieri softi dhe Programim ne web', N'B', N'leksion', N'x4.x4@fshn.edu.al', 1, 1, 0)
SET IDENTITY_INSERT [dbo].[ImportLendet] OFF
SET IDENTITY_INSERT [dbo].[Klasat] ON 

INSERT [dbo].[Klasat] ([Id], [Klasa], [Kapaciteti], [Tipi], [Godina], [Kati], [Perdoret], [KlasaNew]) VALUES (120, N'LabInf3', 30, 3, N'B', 2, 1, N'Lab Programim 3')
INSERT [dbo].[Klasat] ([Id], [Klasa], [Kapaciteti], [Tipi], [Godina], [Kati], [Perdoret], [KlasaNew]) VALUES (121, N'LabInf1', 30, 3, N'C', 2, 1, N'Lab Programim 1')
INSERT [dbo].[Klasat] ([Id], [Klasa], [Kapaciteti], [Tipi], [Godina], [Kati], [Perdoret], [KlasaNew]) VALUES (122, N'LabInf2', 30, 3, N'C', 2, 1, N'Lab Programim 2')
GO
SET IDENTITY_INSERT [dbo].[Klasat] OFF
SET IDENTITY_INSERT [dbo].[Lendet] ON 

INSERT [dbo].[Lendet] ([Id], [Lenda], [DEGA]) VALUES (1, N'Baza të Shkencës Bimore', N'Bachelor në "Bioteknologji"')
INSERT [dbo].[Lendet] ([Id], [Lenda], [DEGA]) VALUES (2, N'Baza të Shkencës Shtazore', N'Bachelor në "Bioteknologji"')
INSERT [dbo].[Lendet] ([Id], [Lenda], [DEGA]) VALUES (3, N'Biokimia dhe Metabolizmi Sekondar', N'Bachelor në "Bioteknologji"')
SET IDENTITY_INSERT [dbo].[Lendet] OFF
SET IDENTITY_INSERT [dbo].[Orari] ON 

INSERT [dbo].[Orari] ([Id], [Dega], [Viti], [Paraleli], [Lenda], [Tipi], [Pedagog], [Dita], [Klasa], [Ora], [Zgjedhje], [Final]) VALUES (81940, N'Bachelor në "Teknologji Informacioni dhe komunikimi"', 2, N'A', N'Programim i orjentuar objekt', N'leksion', N'x3.x3@fshn.edu.al', 2, 63, 9, 0, NULL)
INSERT [dbo].[Orari] ([Id], [Dega], [Viti], [Paraleli], [Lenda], [Tipi], [Pedagog], [Dita], [Klasa], [Ora], [Zgjedhje], [Final]) VALUES (82451, N'Bachelor në "Teknologji Informacioni dhe komunikimi"', 2, N'A2', N'Programim i orjentuar objekt', N'seminar', N'x3.x3@fshn.edu.al', 3, 9, 9, 0, NULL)
INSERT [dbo].[Orari] ([Id], [Dega], [Viti], [Paraleli], [Lenda], [Tipi], [Pedagog], [Dita], [Klasa], [Ora], [Zgjedhje], [Final]) VALUES (81941, N'Bachelor në "Teknologji Informacioni dhe komunikimi"', 2, N'A', N'Programim i orjentuar objekt', N'leksion', N'x3.x3@fshn.edu.al', 2, 63, 10, 0, NULL)
SET IDENTITY_INSERT [dbo].[Orari] OFF
SET IDENTITY_INSERT [dbo].[Oret] ON 

INSERT [dbo].[Oret] ([Id], [Ora]) VALUES (1, N'8:00-9:00')
INSERT [dbo].[Oret] ([Id], [Ora]) VALUES (2, N'9:00-10:00')
INSERT [dbo].[Oret] ([Id], [Ora]) VALUES (3, N'10:00-11:00')
SET IDENTITY_INSERT [dbo].[Oret] OFF
INSERT [dbo].[Tipet] ([Id], [Tipi]) VALUES (1, N'leksion')
INSERT [dbo].[Tipet] ([Id], [Tipi]) VALUES (2, N'seminar')
INSERT [dbo].[Tipet] ([Id], [Tipi]) VALUES (3, N'laborator')
